/* Button Icons */

.iconRight,
.iconLeft {
  position: relative;
  width: var(--size-24);
  height: var(--size-24);
  overflow: hidden;
  flex-shrink: 0;
}

.svg-class:hover path {
  fill: red;
}

/* Button Text */

.textButton {
  font-size: var(--size-16);
  line-height: var(--size-32);
  font-weight: var(--font-black);
}

/* Main Containers */

.containerButton {
  background-color: var(--on-surface-accent-active);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-12) var(--size-16);
  gap: var(--size-16);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

/* Media Queries */

@media screen and (max-width: 1536px) {
  .textButton {
    font-size: var(--size-14);
    line-height: var(--size-24);
    font-weight: var(--font-black);
    color: var(--surface-secondary);
  }
}
