.textNumber {
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-weight: var(--font-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-64);
  height: var(--size-64);
  flex-shrink: 0;
  color: var(--surface-secondary);
  font-size: var(--size-24);
}
.textTitle,
.textParagraph {
  align-self: stretch;
  position: relative;
  color: var(--surface-primary);
}
.textTitle {
  font-weight: var(--font-semibold);
  font-size: var(--size-24);
  line-height: var(--size-40);
}
.textParagraph {
  font-size: var(--size-16);
  line-height: var(--size-32);
  font-weight: var(--font-regular);
}
.containerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  gap: var(--size-12);
}
.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  gap: var(--size-16);
  width: 100%;
  backdrop-filter: blur(var(--size-16));
  border: 1px solid var(--on-surface-accent-disabled-dark);
  border-radius: var(--size-16);
  align-items: flex-end;
  padding: var(--size-104) var(--size-32) var(--size-32)
    var(--size-32);
  box-sizing: border-box;
  overflow: hidden;
  transition: calc(var(--d) * 2) var(--e);
  cursor: pointer;
  font-family: var(--font-main);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -32px;
    right: -32px;
    background: var(--surface-primary);
    height: var(--size-32);
    width: var(--size-32);
    border-radius: var(--size-32);
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: calc(var(--d) * 2) var(--e);
  }
  &:hover:before {
    transform: scale(40);
  }
  &:hover .textTitle {
    color: var(--surface-secondary);
    transition: calc(var(--d) * 2) var(--e);
  }
  &:hover .textParagraph {
    color: var(--surface-secondary);
    transition: calc(var(--d) * 2) var(--e);
  }
}

.containerCard:hover {
  border-bottom: 1px solid var(--on-surface-accent-active);
  border-right: 1px solid var(--on-surface-accent-active);
  border-top: 1px solid var(--surface-primary);
  border-left: 1px solid var(--surface-primary);
  box-shadow: 8px 8px 0 0 var(--on-surface-accent-active);
  transition: calc(var(--d) * 2) var(--e);
  border-radius: var(--size-32);
  transform: rotate(2.5deg) scale(1.1, 1.1);
}

.containerCorner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: var(--size-64);
  height: var(--size-64);
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--surface-primary);
  border-radius: 0 var(--size-4) 0 var(--size-32);
}

@media screen and (max-width: 1536px) {
  .textParagraph {
    font-size: var(--size-14);
    line-height: var(--size-32);
    font-weight: var(--font-regular);
  }
}
