/* Text */

.textHeaderLight,
.textHeaderBold,
.textHeaderLink {
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-size: var(--size-96);
  line-height: var(--size-96);
  font-weight: var(--font-thin);
  color: var(--surface-primary);
}

.textHeaderLink {
  text-decoration: underline;
}

/* Main Containers */

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-24);
  text-align: left;
}

/* Media Queries */

@media screen and (max-width: 1536px) {
  .textHeaderLight,
  .textHeaderBold,
  .textHeaderLink {
    font-size: var(--size-72);
    line-height: var(--size-72);
  }

  .containerContent {
    gap: var(--size-16);
  }
}

@media screen and (max-width: 1366px) {
  .textHeaderLight,
  .textHeaderBold,
  .textHeaderLink {
    font-size: var(--size-64);
    line-height: var(--size-64);
  }
}

@media screen and (max-width: 1280px) {
  .textHeaderLight,
  .textHeaderBold,
  .textHeaderLink {
    font-size: var(--size-56);
    line-height: var(--size-56);
  }
}

@media screen and (max-width: 768px) {
  .textHeaderLight,
  .textHeaderBold,
  .textHeaderLink {
    font-size: var(--size-48);
    line-height: var(--size-48);
  }
}

@media screen and (max-width: 430px) {
  .textHeaderLight,
  .textHeaderBold,
  .textHeaderLink {
    font-size: var(--size-40);
    line-height: var(--size-40);
  }

  .containerContent {
    width: 100%;
  }
}
