.firstText,
.secondText,
.linkText {
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-family: var(--font-main);
  font-size: var(--size-96);
  line-height: var(--size-96);
  font-weight: var(--font-thin);
  color: var(--surface-primary);
}
.linkText {
  text-decoration: underline;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-24);
  text-align: left;
}

@media screen and (max-width: 1536px) {
  .firstText, .secondText, .linkText {
    font-size: var(--size-80);
    line-height: var(--size-80);
  }
}

@media screen and (max-width: 1440px) {
  .firstText,
  .secondText,
  .linkText {
    font-size: var(--size-72);
    line-height: var(--size-72);
  }
}
