.containerParallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
}

.containerScroller {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}