.bold {
  font-weight: var(--font-semibold);
}

.light {
  font-weight: 100;
}

.containerTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24);
}
.textHeroParagraph {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-20);
  line-height: var(--line-height-40);
  font-weight: 300;
}
.buttonAppStore,
.buttonGooglePlay {
  position: relative;
  width: 200px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.containerStoreButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32);
}
.textRatingLabel,
.textRatingBold {
  position: relative;
  line-height: var(--line-height-40);
}
.textRatingBold {
  color: var(--on-surface-accent-active);
}
.containerRatingText {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
}
.iconStar {
  position: relative;
  width: var(--size-icon-big);
  height: var(--size-icon-big);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.containerIcons {
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--spacing-2);
}
.containerArticle,
.containerRating,
.containerIcons {
  display: flex;
  justify-content: flex-start;
}
.containerRating {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-16);
  font-size: var(--header-bold-h6-size);
}
.containerArticle {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-48);
  max-width: 50%;
  text-align: left;
  color: var(--surface-primary);
  font-family: var(--font-main);
}
@media screen and (max-width: 1200px) {
  .texth1,
  .texth1 {
    font-size: var(--header-bold-h1-size);
    line-height: 80px;
  }
  .textp {
    font-size: var(--font-size-1rem);
    line-height: var(--line-height-32);
  }
  .containerArticle {
    gap: var(--gap-48);
  }
}
@media screen and (max-width: 960px) {
  .texth1,
  .texth1 {
    text-align: center;
  }
  .containerdivheader {
    gap: var(--gap-24);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    box-sizing: border-box;
  }
  .textp {
    text-align: center;
  }
  .containerRating,
  .containerButtonStore {
    align-items: flex-start;
    justify-content: center;
  }
  .containerArticle {
    gap: var(--gap-48);
    align-items: center;
    justify-content: flex-start;
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 420px) {
  .texth1,
  .texth1 {
    font-size: var(--font-size-29xl);
    line-height: var(--size-64);
  }
  .texth1 {
    letter-spacing: var(--letter-spacing-default);
  }
  .containerdivheader {
    gap: var(--gap-24);
    padding-left: 0;
    box-sizing: border-box;
  }
  .containerRating,
  .containerButtonStore {
    flex-direction: column;
  }
  .containerArticle {
    gap: var(--gap-48);
  }
}
@media screen and (max-width: 350px) {
  .texth1,
  .texth1 {
    font-size: var(--header-semi-bold-h4-size);
    line-height: var(--line-height-56);
    text-align: center;
  }
  .containerdivheader {
    align-items: center;
    justify-content: flex-start;
  }
  .textp {
    font-size: var(--font-size-sm);
    line-height: 28px;
    text-align: center;
  }
  .containerButtonStore {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .containerRating {
    flex-direction: column;
  }
  .containerArticle {
    gap: var(--gap-48);
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    box-sizing: border-box;
  }
}
