.containerCards {
  width: 70%;
  object-fit: contain;
  overflow: visible;
  display: grid;
  grid-template-rows: minmax(100px, max-content) minmax(100px, max-content);
  grid-template-columns: 1fr 1fr;
  gap: var(--size-48);
}
.imageMockup {
  position: relative;
  width: 30%;
  max-height: 800px;
  object-fit: contain;
}
.containerContent {
  width: 100%;
  max-width: 1520px;
  display: flex;
  flex-direction: row;
  gap: var(--size-128);
  align-items: center;
  justify-content: center;
}
.containerSection {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-128) var(--size-200);
  position: relative;
  gap: var(--size-64);
  background-image: url(/public/containersectioncontext@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
}

@media screen and (max-width: 1536px) {
  .containerSection {
    padding: var(--size-80) var(--size-104);
  }
  .containerContent {
    gap: var(--size-80);
  }
  .containerCards {
    gap: var(--size-40);
  }
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-80);
  }
  .containerContent {
    gap: var(--size-80);
  }
  .containerCards {
    gap: var(--size-32);
  }
}