/* Images */

.imageContainer {
  display: flex;
  position: relative;
  width: 40%;
  transition: calc(var(--d) * 2) var(--e);
}

.imageContainer:hover > .imageLeft {
  transform: rotate(5deg) scale(1.1);
  filter: drop-shadow(var(--shadow-mockup-hover-left));
  transition: calc(var(--d) * 2) var(--e);
}
.imageContainer:hover > .imageBackground {
  border-radius: var(--size-128);
  transition: calc(var(--d) * 2) var(--e);
}
.imageContainer > .imageBackground,
.imageContainer > .imageLeft {
  transition: calc(var(--d) * 2) var(--e);
}

.imageLeft {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 999;
  filter: drop-shadow(var(--shadow-mockup-left));
}

.imageBackground {
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 17%;
  right: 5%;
  width: 90%;
  height: auto;
  background: linear-gradient(
    44.82deg,
    #fab300 -0.03%,
    rgba(250, 179, 0, 0) 114.36%
  );
  border-radius: var(--size-64);
  transition: calc(var(--d) * 2) var(--e);
}

/* Text */

.textParagraph {
  align-self: stretch;
  position: relative;
  font-size: var(--size-20);
  line-height: var(--size-40);
  color: var(--surface-secondary);
  font-weight: var(--font-regular);
}

/* Main Containers */

.containerArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-32);
  width: 50%;
}

.containerContent {
  width: 100%;
  max-width: 1520px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-128);
}

.containerSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-64) var(--size-200);
  box-sizing: border-box;
  gap: var(--size-128);
  text-align: left;

  align-self: stretch;
  box-sizing: border-box;
}

/* Media Queries */

@media screen and (max-width: 1536px) {
  .containerSection {
    padding: var(--size-80) var(--size-104);
    gap: var(--size-80);
  }

  .textParagraph {
    font-size: var(--size-16);
    line-height: var(--size-32);
  }
}

@media screen and (max-width: 1366px) {
  .containerSection {
    padding: var(--size-64) var(--size-80);
    gap: var(--size-80);
  }
}

@media screen and (max-width: 1280px) {
  .containerSection {
    padding: var(--size-48) var(--size-64);
  }

  .textParagraph {
    font-size: var(--size-14);
  }
}

@media screen and (max-width: 1024px) {
  .containerSection {
    padding: var(--size-48) var(--size-48);
  }

  .containerContent {
    gap: var(--size-64);
  }

  .textParagraph {
    font-size: var(--size-14);
    line-height: var(--size-28);
  }
}