.imageBackground {
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 17%;
  left: 5%;
  width: 90%;
  height: auto;
  border-radius: var(--size-64);
  background: linear-gradient(315deg, #181f4e 0%, rgba(24, 31, 78, 0.8) 100%);
  transition: calc(var(--d) * 2) var(--e);
}
.textParagraph {
  align-self: stretch;
  position: relative;
  font-size: var(--size-24);
  line-height: var(--size-40);
  color: var(--surface-secondary);
}
.containerArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-32);
  width: 50%;
}
.imageMockup {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 999;
}
.imageContainer {
  display: flex;
  position: relative;
  width: 40%;
  transition: calc(var(--d) * 2) var(--e);
}
.containerContent {
  width: 100%;
  max-width: 1520px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-128);
}

.imageContainer:hover > .imageMockup {
  transform: rotate(-5deg) scale(1.025);
  transition: calc(var(--d) * 2) var(--e);
}
.imageContainer:hover > .imageBackground {
  border-radius: var(--size-128);
  transition: calc(var(--d) * 2) var(--e);
}
.imageContainer > .imageBackground,
.imageContainer > .imageMockup {
  transition: calc(var(--d) * 2) var(--e);
}
.containerSection {
  width: 100%;
  background-color: var(--surface-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-64) var(--size-200);
  box-sizing: border-box;
  gap: var(--size-128);
  text-align: left;
  font-family: var(--font-main);
  align-self: stretch;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-64) var(--size-80);
    gap: var(--size-80);
  }
  .textParagraph {
    font-size: var(--size-20);
    line-height: var(--size-40);
  }
}
