.textParagraph {
  align-self: stretch;
  position: relative;
  font-size: var(--size-24);
  line-height: var(--size-40);
  color: var(--surface-secondary);
}
.containerArticle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-32);
  max-width: 50%;
}
.imageMockup {
  position: relative;
  border-radius: var(--size-64);
  width: auto;
  height: 880px;
  object-fit: cover;
}
.imageBackground {
  position: absolute;
  left: var(--size-200);
  width: 560px;
  height: 560px;
  background: linear-gradient(315deg, #181f4e 0%, rgba(24, 31, 78, 0.8) 100%);
  border-radius: var(--size-64);
}
.containerContent:hover > .imageBackground {
  border-radius: var(--size-128);
  transition: calc(var(--d) * 2) var(--e);
}
.containerContent > .imageBackground {
  transition: calc(var(--d) * 2) var(--e);
}
.containerContent {
  background-color: var(--surface-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-64) var(--size-200);
  box-sizing: border-box;
  gap: var(--size-128);
  text-align: left;
  font-family: var(--font-main);
  align-self: stretch;
}
.imageContainer:hover {
  transform: rotate(-5deg) scale(1.025);
  transition: calc(var(--d) * 2) var(--e);
}

.imageContainer {
  transition: calc(var(--d) * 2) var(--e);
}
