.containerFeatures {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.containerGridCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  gap: var(--spacing-40);
}
.containerFeatures {
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-128) var(--spacing-200);
  gap: var(--spacing-128);
  text-align: left;
  font-family: var(--font-main);
}
