.textParagraph {
  align-self: stretch;
  position: relative;
  font-size: var(--size-24);
  line-height: var(--size-40);
  color: var(--surface-secondary);
}
.containerArticle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-32);
  max-width: 50%;
}
.imageMockup {
  position: relative;
  width: auto;
  height: 880px;
  object-fit: cover;
}
.imageBackground {
  position: absolute;
  left: var(--size-0);
  width: 560px;
  height: 560px;
  background: linear-gradient(315deg, #181f4e 0%, rgba(24, 31, 78, 0.8) 100%);
  border-radius: var(--size-64);
}
.imageContainer:hover {
  transform: rotate(-5deg) scale(1.025);
  transition: calc(var(--d) * 2) var(--e);
}
.imageContainer {
  transition: calc(var(--d) * 2) var(--e);
}

.containerContent {
  width: 100%;
  max-width: 1520px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.containerSection:hover > .imageBackground {
  border-radius: var(--size-128);
  transition: calc(var(--d) * 2) var(--e);
}
.containerSection > .imageBackground {
  transition: calc(var(--d) * 2) var(--e);
}
.containerSection {
  width: 100%;
  background-color: var(--surface-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-64) var(--size-200);
  box-sizing: border-box;
  gap: var(--size-128);
  text-align: left;
  font-family: var(--font-main);
  align-self: stretch;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-64) var(--size-80);
    gap: var(--size-80);
  }
  .imageBackground {
    right: var(--size-80);
    width: 480px;
    height: 480px;
  }
  .imageMockup {
    height: 680px;
  }
  .textParagraph {
    font-size: var(--size-20);
    line-height: var(--size-40);
  }
}
