@keyframes containerImage {
  0% {
    transform: translate(0, 200px);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes imageLeft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--size-16));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes imageRight {
  0% {
    transform: translateY(var(--size-16));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--size-16));
  }
}

.imageLeft {
  width: var(--size-400);
  height: fit-content;
  position: relative;
  z-index: 2;
  filter: drop-shadow(40px 40px 128px rgba(0, 0, 0, 0.8));
  animation-name: imageLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

 .containerImage:hover {
  transform: scale(1.05) rotate(5deg);
  transition: calc(var(--d) * 2) var(--e);
}

.imageRight {
  width: var(--size-400);
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: drop-shadow(40px 40px 128px rgba(0, 0, 0, 0.8));
  animation-name: imageRight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.containerImage {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 48%;
  height: 800px;
  animation-name: containerImage;
  animation-duration: 2s;
  animation-timing-function: calc(var(--d) * 2) var(--e);
  transition: calc(var(--d) * 2) var(--e);
}

.containerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--size-96);
  max-width: 1520px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--size-104) var(--size-200);
}

.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
  box-sizing: border-box;
  background-image: url(/public/backgroundHero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media screen and (max-width: 1536px) {
  .containerSection {
    padding: var(--size-0) var(--size-104) var(--size-80) var(--size-104);
  }
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-0) var(--size-80) var(--size-80) var(--size-80);
  }
}

@media screen and (max-width: 1280px) {
  .containerContent {
    gap: var(--size-48);
  }
  .contentArticle {
    gap: var(--size-48);
  }
  .containerSection {
    padding: var(--size-0) var(--size-64) var(--size-64) var(--size-64);
  }
}

@media screen and (max-width: 1024px) {
  .contentArticle {
    gap: var(--size-32);
  }
  .containerSection {
    padding: var(--size-0) var(--size-48) var(--size-48) var(--size-48);
  }
}

@media screen and (max-width: 768px) {
  .containerSection {
    align-items: center;
    justify-content: flex-start;
    padding: var(--size-0) var(--size-32) var(--size-32) var(--size-32);
    height: 100vh;
  }
  .contentArticle {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .containerSection {
    padding: var(--size-0) var(--size-16) var(--size-16) var(--size-16);
  }
  .contentArticle {
    width: 100%;
  }
  .containerContent {
    gap: var(--size-64);
  }
}
