@keyframes image {
  0% {
    transform: translate(0, 200px);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

.imageHero {
  flex: 1;
  position: relative;
  max-width: 50%;
  overflow: hidden;
  height: 1024px;
  object-fit: cover;
  background-repeat: no-repeat;
  animation-name: image;
  animation-duration: 2s;
  animation-timing-function: calc(var(--d) * 2) var(--e);
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-64);
}
.containerContent,
.containerHero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerContent {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-96);
  max-width: 1520px;
}
.containerHero {
  height: 1080px;
  align-items: center;
  padding: 0 var(--gap-200);
  box-sizing: border-box;
  background-image: url(/public/backgroundHero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  align-self: stretch;
}
@media screen and (max-width: 1200px) {
  .imageHero {
    width: 400px;
    height: 100%;
  }
  .containerContent {
    gap: var(--section-hero-column-gap);
  }
  .containerHero {
    width: 1200px;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .imageHero {
    width: 100%;
    height: 400px;
    flex: unset;
    align-self: stretch;
  }
  .containerContent,
  .content {
    align-items: center;
    justify-content: flex-start;
  }
  .content {
    flex-direction: column;
  }
  .containerContent {
    gap: var(--section-hero-column-gap);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .containerHero {
    width: 960px;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .content {
    align-items: flex-start;
    justify-content: center;
  }
  .containerContent {
    gap: var(--section-hero-column-gap);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .containerHero {
    width: 420px;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .containerContent {
    gap: var(--section-hero-column-gap);
    align-items: center;
    justify-content: flex-start;
  }
  .containerHero {
    width: 350px;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    box-sizing: border-box;
  }
}
