/* Animations */

@keyframes imageLeft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--size-16));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes imageRight {
  0% {
    transform: translateY(var(--size-16));
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--size-16));
  }
}

/* Scroll Down */

.containerScroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
  position: absolute;
  left: calc(50% - var(--size-64));
  bottom: var(--size-32);
}

.containerScroll:hover .containerMouse,
.containerMove {
  transform: scale(1.1);
  transition: calc(var(--d) * 2) var(--e);
}

.containerScroll .containerMouse,
.containerMove {
  transition: calc(var(--d) * 2) var(--e);
}

.containerMouse {
  margin: 0 auto;
  display: block;
  border-radius: var(--size-16);
  border: var(--size-2) solid var(--surface-primary);
  height: var(--size-64);
  width: var(--size-32);
  position: relative;
}

.containerMove {
  position: absolute;
  background-color: var(--surface-primary);
  height: var(--size-8);
  width: var(--size-8);
  border-radius: var(--size-16);
  left: calc(50% - var(--size-4));
}

.textScroll {
  width: var(--size-128);
  font-size: var(--size-16);
  line-height: var(--size-32);

  font-weight: var(--font-regular);
  color: var(--surface-primary);
  text-align: center;
}

/* Images */

.containerImage {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
}

.containerHover {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 48%;
  height: fit-content;
  animation-name: containerImage;
  animation-duration: 2s;
  animation-timing-function: calc(var(--d) * 2) var(--e);
  transition: calc(var(--d) * 2) var(--e);
}

.imageLeft {
  width: 64%;
  height: auto;
  position: relative;
  z-index: 2;
  filter: drop-shadow(var(--shadow-hero-mockup-large));
  animation-name: imageLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  object-fit: contain;
}

.imageRight {
  width: 56%;
  height: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: drop-shadow(var(--shadow-hero-mockup-large));
  animation-name: imageRight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  object-fit: contain;
}

/* Main Containers */

.containerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  gap: var(--size-96);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--size-200) var(--size-200) var(--size-104) var(--size-200);
  box-sizing: border-box;
}

.containerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("/public/backgrounds/backgroundHero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

/* Media Queries */

@media screen and (max-width: 1536px) {
  .containerContent {
    padding: var(--size-160) var(--size-104);
  }

  .containerImage {
    max-height: 640px;
  }

  .imageLeft,
  .imageRight {
    filter: drop-shadow(var(--shadow-hero-mockup-big));
    max-height: 600px;
  }
}

@media screen and (max-width: 1440px) {
  .imageRight,
  .imageLeft {
    max-height: 520px;
  }
}

@media screen and (max-width: 1366px) {
  .containerContent {
    padding: var(--size-128) var(--size-80);
  }

  .containerImage {
    height: 520px;
  }

  .imageLeft,
  .imageRight {
    filter: drop-shadow(var(--shadow-hero-mockup-medium));
  }

  .containerMouse {
    height: var(--size-48);
    width: var(--size-24);
    border-radius: var(--size-12);
  }

  .containerMove {
    height: var(--size-6);
    width: var(--size-6);
    left: calc(50% - var(--size-3));
  }

  .textScroll {
    font-size: var(--size-14);
    line-height: var(--size-24);
  }

  .containerScroll:hover .containerMouse,
  .containerMove {
    transform: scale(1.1);
    transition: calc(var(--d) * 2) var(--e);
  }
}

@media screen and (max-width: 1280px) {
  .containerContent {
    padding: var(--size-128) var(--size-64);
  }

  .containerImage {
    height: 480px;
  }

  .imageLeft,
  .imageRight {
    filter: drop-shadow(var(--shadow-hero-mockup-small));
  }

  .imageRight {
    width: 52%;
    bottom: -8%;
  }
}

@media screen and (max-width: 1024px) {
  .containerContent {
    padding: var(--size-128) var(--size-48);
  }

  .containerImage {
    height: 480px;
  }

  .imageRight {
    width: 56%;
    bottom: 0;
  }

  .containerImage {
    pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .containerHover {
    max-width: 100%;
    justify-content: center;
  }

  .containerContent {
    flex-direction: column;
    gap: var(--size-16);
    align-items: center;
  }

  .containerImage {
    max-width: 100%;
    width: 64%;
  }

  .imageLeft {
    width: 64%;
  }

  .imageRight {
    width: 60%;
    bottom: 0;
  }
}

@media screen and (max-width: 430px) {
  .containerSection {
    height: fit-content;
  }

  .containerContent {
    padding: var(--size-128) var(--size-24) var(--size-48) var(--size-24);
    gap: var(--size-40);
  }

  .containerImage {
    width: 90%;
    height: fit-content;
  }

  .imageLeft {
    height: var(--size-400);
  }

  .imageRight {
    height: var(--size-360);
  }
}

@media screen and (max-width: 375px) {
  .containerSection {
    height: fit-content;
  }

  .containerContent {
    padding: var(--size-128) var(--size-16) var(--size-48) var(--size-16);
  }
}
