.imageDeviceSecondary {
  position: absolute;
  top: calc(50% - 280px);
  right: 24px;
  width: 360px;
  height: 560px;
  object-fit: cover;
  z-index: 1;
}
.imageDevicePrimary {
  position: absolute;
  top: calc(50% - 322px);
  right: 200px;
  width: 400px;
  height: 640px;
  object-fit: cover;
  z-index: 2;
}
.textParagraph {
  color: var(--surface-primary);
  font-size: var(--size-24);
  line-height: var(--size-40);
  max-width: 640px;
}
.buttonAppStore,
.buttonGooglePlay {
  position: relative;
  width: 200px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.containerStoreButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-32);
}
.containerArticle {
  width: 100%;
  align-items: flex-start;
  gap: var(--size-64);
  max-width: 800px;
}
.containerArticle,
.containerContent,
.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerContent {
  border-radius: var(--size-48);
  width: 100%;
  max-width: 1520px;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--size-64);
  box-sizing: border-box;
  position: relative;
  background-image: url(/public/backgroundSummary.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.containerSection {
  width: 100%;
  align-self: stretch;
  background-color: var(--surface-primary);
  align-items: center;
  padding: var(--size-128) var(--size-200);
  text-align: left;
  font-family: var(--font-main);
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-80);
  }
}
