.imageDeviceSecondary {
  position: absolute;
  top: calc(50% - 280px);
  right: 24px;
  width: 350px;
  height: 560px;
  object-fit: cover;
  z-index: 1;
}
.imageDevicePrimary {
  position: absolute;
  top: calc(50% - 322px);
  right: 200px;
  width: 400px;
  height: 640px;
  object-fit: cover;
  z-index: 2;
}
.textParagraph {
  color: var(--surface-primary);
  font-size: var(--font-size-24);
  line-height: var(--line-height-40);
  max-width: 800px;
}
.buttonAppStore,
.buttonGooglePlay {
  position: relative;
  width: 200px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.containerStoreButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32);
}
.containerArticle {
  width: 100%;
  align-items: flex-start;
  gap: var(--spacing-64);
  max-width: 800px;
  z-index: 2;
}
.containerArticle,
.containerContent,
.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerContent {
  border-radius: var(--spacing-48);
  width: 1520px;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--spacing-64);
  box-sizing: border-box;
  position: relative;
  background-image: url(/public/backgroundSummary.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.containerSection {
  align-self: stretch;
  background-color: var(--surface-primary);
  align-items: flex-end;
  padding: var(--spacing-128) var(--spacing-200);
  text-align: left;
  font-family: var(--font-main);
}
