.textHeaderWhite {
  font-size: var(--size-32);
  line-height: var(--size-48);
  color: var(--surface-primary);
}

.textHeaderGreen {
  font-size: var(--size-64);
  line-height: var(--size-56);
  color: var(--colorFootballRulesGreen);
}
.textHeaderWhite,
.textHeaderGreen {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  font-weight: var(--font-black);
  max-width: 368px;
}
.textHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-roag);
}
.textQuoteContent,
.textQuoteTitle {
  align-self: stretch;
  position: relative;
}
.textQuoteTitle {
  letter-spacing: var(--letter-spacing-default);
  font-size: var(--size-24);
  line-height: var(--size-40);
  color: var(--surface-primary);
  font-weight: var(--font-bold);
}
.textQuoteContent {
  font-size: var(--size-20);
  line-height: var(--size-40);
  color: var(--on-surface-accent-disabled-light);
}
.containerQuoteContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-16);
  font-size: var(--header-bold-h6-size);
}
.imagePerson {
  position: relative;
  border-radius: 50%;
  width: var(--size-80);
  height: var(--size-80);
  object-fit: cover;
}
.imageLogoIFAB {
  height: 72px;
  width: auto;
  position: relative;
  object-fit: contain;
}
.textPersonName {
  font-size: var(--size-20);
  line-height: var(--size-40);
  color: var(--surface-primary);
  font-weight: var(--font-bold);
}
.textPersonOccupation {
  font-size: var(--size-16);
  line-height: var(--size-32);
  color: var(--on-surface-accent-disabled-light);
}
.containerPersonImage,
.containerPersonDetails {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerPersonImage {
  flex-direction: row;
  align-items: center;
  gap: var(--size-16);
}
.containerPerson {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--size-20);
}
.containerTestimonialContent {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-64);
  z-index: 0;
}
.imageDeviceSecondary {
  position: absolute;
  top: calc(50% - 280px);
  right: 25px;
  width: 360px;
  height: 560px;
  object-fit: cover;
  z-index: 1;
}
.imageDevicePrimary {
  position: absolute;
  top: calc(50% - 322px);
  right: 200px;
  width: 400px;
  height: 640px;
  object-fit: cover;
  z-index: 2;
}
.containerTestimonial {
  border-radius: var(--size-48);
  width: 100%;
  max-width: 1520px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--size-64);
  box-sizing: border-box;
  position: relative;
  background-image: url(/public/testimonialsFootballRules.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.containerSection {
  background-color: var(--surface-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--size-128) var(--size-200);
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-main);
  align-self: stretch;
}

@media screen and (max-width: 1440px) {
  .containerSection {
    padding: var(--size-80);
  }
  .imageDeviceSecondary {
    width: auto;
    height: 480px;
    top: calc(50% - 240px);
  }
  .imageDevicePrimary {
    width: auto;
    height: 560px;
    top: calc(50% - 280px);
  }
  .containerTestimonialContent {
    gap: var(--size-32);
  }
  .textQuoteContent {
    font-size: var(--size-16);
    line-height: var(--size-32);
  }
}
