.buttonIcon {
  position: relative;
  width: var(--size-icon-big);
  height: var(--size-icon-big);
  overflow: hidden;
  flex-shrink: 0;
}

.buttonText {
  position: relative;
  line-height: var(--line-height-32);
  font-family: var(--font-main);
}
.button {
  border-radius: var(--spacing-12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-16) var(--spacing-32);
  gap: var(--gap-16);
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--surface-primary);
  cursor: pointer;
  transition: calc(var(--d) * 2) var(--e);
}

.button:hover {
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  transition: calc(var(--d) * 2) var(--e);
  border-radius: var(--spacing-24);
}

.button > .buttonIcon {
  transition: calc(var(--d) * 2) var(--e);
}
.button:hover > .buttonIcon {
  transform: rotate(-45deg);
  transition: calc(var(--d) * 2) var(--e);
}
