.textCardTitleDescription {
  flex: 1;
  position: relative;
  font-size: var(--font-size-16);
  line-height: var(--line-height-32);
  font-weight: var(--font-semibold);
}
.textCardPrice,
.textCardTime {
  font-weight: var(--font-bold);
}
.containerHeader,
.containerdivprice {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerHeader {
  gap: var(--gap-8);
}
.containerFeatures {
  align-self: stretch;
  gap: var(--gap-24);
}
.containerFeatures,
.containerServices,
.containerCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerServices {
  align-self: stretch;
  gap: var(--spacing-24);
}
.containerCard {
  flex: 1;
  border-radius: var(--spacing-32);
  background-color: var(--surface-primary);
  box-shadow: var(--shadow-card);
  padding: var(--gap-40) var(--spacing-40);
  gap: var(--spacing-32);
  text-align: left;
  font-family: var(--font-main);
}
