.imageicon {
  border-radius: var(--spacing-16);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.texth6 {
  font-size: inherit;
  letter-spacing: var(--letter-spacing-default);
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.texth6,
.texth61,
.textp {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.texth61 {
  font-size: inherit;
  letter-spacing: var(--letter-spacing-default);
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  color: var(--surface-primary);
}
.textp {
  font-size: var(--font-size-1rem);
  line-height: var(--line-height-32);
  font-weight: var(--font-semibold);
  color: var(--texts-textaccentsubtle);
}
.containerdivcardFeatureina,
.containerdivtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerdivtext {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--spacing-12);
}
.containerdivcardFeatureina {
  flex: 1;
  border-radius: var(--spacing-16);
  background-color: var(--surfaces-default-surface-primary);
  box-shadow: var(--shadow-card-feature);
  align-items: flex-end;
  padding: var(--gap-24) var(--gap-24) var(--spacing-32);
  box-sizing: border-box;
  gap: var(--spacing-16);
  min-width: 356px;
  text-align: left;
  font-size: var(--header-bold-h6-size);
  color: var(--surfaces-default-surfacetertiary);
  font-family: var(--font-main);
}
