@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.imageScroll {
  position: relative;
  width: 200px;
  height: auto;
  object-fit: cover;
  animation-name: rotation;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.iconScroll {
  position: absolute;
  top: 42%;
  left: 42%;
  width: var(--size-32);
  height: var(--size-32);
}
.buttonScroll {
  width: 200px;
  height: 200px;
  position: relative;
}
.buttonScroll:hover > .iconScroll {
  transform: rotate(45deg);
  transition: calc(var(--d) * 2) var(--e);
}
.buttonScroll > .iconScroll {
  transition: calc(var(--d) * 2) var(--e);
}
.containerHeader {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-32);
}
.imageLogo {
  position: relative;
  width: 128px;
  height: auto;
  object-fit: cover;
}
.containerCopyright,
.containerContent,
.containerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.containerLinks {
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--spacing-128);
}
.containerCopyright,
.containerContent {
  align-self: stretch;
  justify-content: space-between;
}
.textParagraph {
  flex: 1;
  font-weight: var(--font-regular);
  font-size: var(--font-size-16);
  line-height: var(--line-height-32);
  color: var(--surface-primary);
}
.containerCopyright,
.containerFooter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.containerFooter {
  background-color: var(--surface-tertiary);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--spacing-128) var(--spacing-200);
  gap: var(--spacing-80);
  text-align: right;
  font-family: var(--font-main);
}
