@keyframes nav {
  0% {
    transform: translate(0, -32px);
    opacity: 0%;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

.containerMenuVisibility {
  display: none;
}

.containerButtonVisibility {
  display: block;
}

.containerSectionLogo {
  position: relative;
  width: auto;
  height: var(--size-32);
}

.containerSectionLinks {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 960px;
}

.containerSection {
  padding-top: var(--size-32);
  width: 100%;
  max-width: 1520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-main);
  animation-name: nav;
  animation-duration: 2s;
  animation-timing-function: calc(var(--d) * 2) var(--e);
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1280px) {
  .containerButtonVisibility {
    display: none;
  }
  .containerSection {
    padding-top: var(--size-32);
  }
}

@media screen and (max-width: 1024px) {
  .containerMenuVisibility {
    display: none;
  }
  .containerButtonVisibility {
    display: none;
  }
  .containerSectionLogo {
    height: var(--size-24);
  }
}

@media screen and (max-width: 768px) {
  .containerSectionLinks {
    display: none;
  }
  .containerMenuVisibility {
    display: block;
  }
}