/* Text */

.textTitle {
  align-self: stretch;
  position: relative;
  font-size: var(--size-32);
  line-height: var(--size-48);
  letter-spacing: var(--letter-spacing-default);
  color: var(--surface-primary);
}

/* Main Containers */

.containerContent {
  width: var(--size-240);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-24);
  text-align: left;
}

@media screen and (max-width: 1366px) {
  .containerContent {
    gap: var(--size-20);
  }

  .textTitle {
    font-size: var(--size-24);
    line-height: var(--size-40);
  }
}

@media screen and (max-width: 1280px) {
  .containerContent {
    width: var(--size-200);
  }
}

@media screen and (max-width: 1024px) {
  .containerContent {
    width: var(--size-160);
  }
}
