.textNumber {
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-weight: var(--font-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-64);
  height: var(--size-64);
  flex-shrink: 0;
}

.textTitle,
.textParagraph {
  align-self: stretch;
  position: relative;
}
.textTitle {
  font-weight: var(--font-semibold);
}
.textParagraph {
  font-size: var(--font-size-24);
  line-height: var(--line-height-40);
  font-weight: var(--font-semibold);
  color: var(--texts-textaccentsubtle1);
}

.containerCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--spacing-24);
  background-color: var(--on-surface-accent-active);
  box-sizing: border-box;
  min-width: 320px;
  padding: var(--spacing-32);
  gap: var(--gap-48);
  color: var(--surface-primary);
  font-family: var(--font-main);
  cursor: pointer;
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard:hover {
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  transition: calc(var(--d) * 2) var(--e);
  background-color: var(--surface-primary);
  border-radius: var(--spacing-32);
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containerText {
  align-self: stretch;
  gap: var(--spacing-16);
  text-align: left;
}
.containerCardNumber {
  border-radius: var(--spacing-12);
  background-color: var(--surface-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--spacing-16);
}
