.imageIcon {
  border-radius: var(--spacing-16);
  width: var(--spacing-48);
  height: var(--spacing-48);
  overflow: hidden;
  object-fit: cover;
  color: var(--surface-secondary);
}
.iconContainer {
  display: flex;
  width: var(--size-64);
  height: var(--size-64);
  background-color: var(--surface-primary);
  border-radius: var(--spacing-16);
  align-items: center;
  justify-content: center;
}
.textNumber,
.textTitle {
  font-size: var(--font-size-24);
  font-weight: var(--font-size-40);
  font-weight: var(--font-bold);
  font-family: inherit;
  letter-spacing: var(--letter-spacing-default);
}
.textNumber {
  color: var(--on-surface-accent-active);
}
.textTitle {
  color: var(--surface-secondary);
}
.textParagraph {
  font-size: var(--font-size-16);
  font-weight: var(--font-size-32);
  font-weight: var(--font-semibold);
  font-family: inherit;
  color: var(--on-surface-accent-inactive);
}
.containerCard,
.containerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.containerText {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--spacing-12);
}
.containerCard {
  flex: 1;
  border-radius: var(--spacing-16);
  background-color: var(--surface-primary);
  box-shadow: var(--shadow-card);
  align-items: flex-end;
  padding: var(--spacing-32);
  box-sizing: border-box;
  gap: var(--spacing-16);
  width: 100%;
  text-align: left;
  font-family: var(--font-main);
  transition: calc(var(--d) * 2) var(--e);
  cursor: default;
}

.containerCard:hover {
  background-color: var(--surface-secondary);
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard:hover .textTitle {
  color: var(--surface-primary);
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard:hover .textParagraph {
  color: var(--on-surface-accent-disabled-dark);
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard:hover .iconContainer {
  background-color: var(--surface-primary);
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard:hover img {
  color: var(--surface-primary);
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard .textTitle {
  transition: calc(var(--d) * 2) var(--e);
}

.containerCard .textParagraph {
  transition: calc(var(--d) * 2) var(--e);
}
