@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roag:ital,wght@1,900&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

  /* alphas */
  --alpha-20: 0.2;

  /* fonts */
  --font-main: Inter;
  --font-roag: Roag;

  /* font weights */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* letter spacing */
  --letter-spacing-default: -0.04rem;

  /* Sizes */
  --size-0: 0rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-104: 6.5rem;
  --size-128: 8rem;
  --size-160: 10rem;
  --size-200: 12.5rem;
  --size-256: 16rem;
  --size-360: 22.5rem;
  --size-400: 25rem;

  /* Colors ROSA */
  --surface-tertiary: #0e1012;
  --surface-primary: #fff;
  --surface-secondary: #181f4e;
  --on-surface-accent-active: #fab300;
  --on-surface-accent-inactive: #7e84b5;
  --on-surface-accent-disabled-light: #e9edef;
  --on-surface-accent-disabled-dark: #c8d2d8;

  /* Colors ROSA */
  --colorFootballRulesGreen: #00f481;

  /* Effects */
  --shadow-card: -176px 226px 80px rgba(23, 31, 78, 0),
    -113px 144px 73px rgba(23, 31, 78, 0.01),
    -63px 81px 62px rgba(23, 31, 78, 0.04),
    -28px 36px 46px rgba(23, 31, 78, 0.07), -7px 9px 25px rgba(23, 31, 78, 0.08);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  line-height: normal;
}

p {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-family: var(--font-main);
}

h1 {
  font-size: var(--size-96);
  line-height: var(--size-96);
}

h2 {
  font-size: var(--size-64);
  line-height: var(--size-80);
}

h3 {
  font-size: var(--size-56);
  line-height: var(--size-72);
}

h4 {
  font-size: var(--size-48);
  line-height: var(--size-64);
}

h5 {
  font-size: var(--size-40);
  line-height: var(--size-56);
}

h6 {
  font-size: var(--size-32);
  line-height: var(--size-48);
}

