@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roag:ital,wght@1,900&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

  /* alphas */
  --alpha-20: 0.2;

  /* fonts */
  --font-main: Inter;
  --font-roag: Roag;

  /* font weights */
  --font-thin: 100;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* font sizes */
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-56: 56px;
  --font-size-64: 64px;
  --font-size-96: 96px;

  --letter-spacing-default: -0.04rem;

  --header-bold-h5-size: 32px;
  --font-size-61xl: 80px;
  --header-bold-h6-size: 24px;
  --font-size-77xl: 96px;
  --header-semi-bold-h4-size: 40px;

  --header-bold-h1-size: 64px;
  --font-size-sm: 14px;
  --font-size-29xl: 48px;

  /* line heights */
  --line-height-32: 32px;
  --line-height-40: 40px;
  --line-height-48: 48px;
  --line-height-56: 56px;
  --line-height-64: 64px;
  --line-height-72: 72px;
  --line-height-80: 80px;
  --line-height-96: 96px;

  /* Sizes */
  --size-icon-default: 24px;
  --size-icon-big: 32px;
  --size-16: 1rem;
  --size-32: 2rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --size-80: 5rem;
  --size-360: 22.5rem;

  /* Colors ROSA */
  --surfacegray: #0e1012;
  --surface-primary: #fff;
  --surface-secondary: #181f4e;
  --on-surface-accent-active: #fab300;
  --on-surface-accent-inactive: #7e84b5;
  --on-surface-accent-disabled-light: #e9edef;
  --on-surface-accent-disabled-dark: #c8d2d8;

  /* Colors ROSA */
  --colorFootballRulesGreen: #00f481;

  /* Spacing */
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-104: 104px;
  --spacing-128: 128px;
  --spacing-160: 160px;
  --spacing-200: 200px;
  --spacing-256: 256px;
  --spacing-400: 400px;

  --button-padding-row-gap: 16px;
  --button-padding-left-right: 32px;
  --button-padding-top-bottom: 16px;

  --section-hero-column-gap: 128px;

  --gap-8: 8px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-32: 32px;
  --gap-40: 40px;
  --gap-48: 48px;
  --gap-64: 64px;
  --gap-96: 96px;
  --gap-128: 128px;
  --gap-200: 200px;

  /* Gaps */
  --gap-109xl: 128px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-45xl: 64px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-29xl: 48px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-61xl: 80px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-109xl: 128px;
  --padding-181xl: 200px;
  --padding-45xl: 64px;
  --padding-237xl: 256px;
  --padding-29xl: 48px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-381xl: 400px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-base: 16px;
  --br-45xl: 64px;
  --br-10xs: 3px;
  --br-7xs: 6px;

  /* Effects */
  --shadow-card: -176px 226px 80px rgba(23, 31, 78, 0),
    -113px 144px 73px rgba(23, 31, 78, 0.01),
    -63px 81px 62px rgba(23, 31, 78, 0.04),
    -28px 36px 46px rgba(23, 31, 78, 0.07), -7px 9px 25px rgba(23, 31, 78, 0.08);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  line-height: normal;
}

p {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: var(--letter-spacing-default);
  font-family: var(--font-main);
}

h1 {
  font-size: var(--font-size-96);
  line-height: var(--line-height-96);
}

h2 {
  font-size: var(--font-size-64);
  line-height: var(--line-height-80);
}

h3 {
  font-size: var(--font-size-56);
  line-height: var(--line-height-72);
}

h4 {
  font-size: var(--font-size-48);
  line-height: var(--line-height-64);
}

h5 {
  font-size: var(--font-size-40);
  line-height: var(--line-height-56);
}

h6 {
  font-size: var(--font-size-32);
  line-height: var(--line-height-48);
}
